
:root {
    --colorCocaColaLightDietCokeBloodOrange: #e84a38;    
    --colorCocaColaLightDietCokePeach: #f0826c;    
    --colorCocaColaLightDietCokeLemon: #f1c300;    
    --colorCocaColaLightDietCokeFiestyCherry: #75192b;    
    --colorCocaColaLightDietCokeLime: #76b82a;    
    --colorCocaColaLightDietCokeTwistedMango: #f6a803;    
    --colorCocaColaLightDietCokeStrawberryGuava: #ec627e;    
    --colorCocaColaLightZeroSugarOrange: #f18a00;    
    --colorCocaColaLightZeroSugarVanilla: #cda075;    
    --colorCocaColaLightDietCokeGingerLime: #7d9b2b;    
    --colorCocaColaLightZeroSugarCherry: #871555;    
    --colorCocaColaLightZeroSugarLemon: #f6ce3c;    
    --colorCocaColaLightDietCokeBlueberryAcai: #241e52;    
    --colorCocaColaLightZeroSugarRaspberry: #c71455;    
    --colorCocaColaLightZeroSugarCinnamon: #902a2b;    
    --colorCocaColaBrandRed: #f40009;    
    --colorCocaColaGeorgiaGreenPrimary: #a5cdaa;    
    --colorCocaColaGeorgiaGreenDark: #2d5240;    
    --colorCocaColaGeorgiaGreenLight: #d5e0d8;    
    --colorCocaColaBrandBlack: #000000;    
    --colorCocaColaBrandWhite: #ffffff;    
    --colorCocaColaBrandDietCokeSilver: #ededed;    
    --colorCocaColaBrandDietCokeCaffeineFreeGold: #dbd3aa;    
    --colorCocaColaData11: #404040;    
    --colorCocaColaData3: #f5edd6;    
    --colorCocaColaData10: #d7b85b;    
    --colorCocaColaData12: #000000;    
    --colorCocaColaData9: #dbc06d;    
    --colorCocaColaData8: #666666;    
    --colorCocaColaData7: #e3ce8e;    
    --colorCocaColaData6: #999999;    
    --colorCocaColaData5: #ebdcaf;    
    --colorCocaColaData4: #cccccc;    
    --colorTomatoDark1: #1d1412;    
    --colorTomatoDark2: #2a1410;    
    --colorTomatoDark3: #3b1813;    
    --colorTomatoDark4: #481a14;    
    --colorTomatoDark5: #541c15;    
    --colorTomatoDark6: #652016;    
    --colorTomatoDark7: #7f2315;    
    --colorTomatoDark8: #a42a12;    
    --colorTomatoDark9: #e54d2e;    
    --colorTomatoDark10: #ec5e41;    
    --colorTomatoDark11: #f16a50;    
    --colorTomatoDark12: #feefec;    
    --colorTomatoLight1: #fffcfc;    
    --colorTomatoLight2: #fff8f7;    
    --colorTomatoLight3: #fff0ee;    
    --colorTomatoLight4: #ffe6e2;    
    --colorTomatoLight5: #fdd8d3;    
    --colorTomatoLight6: #fac7be;    
    --colorTomatoLight7: #f3b0a2;    
    --colorTomatoLight8: #ea9280;    
    --colorTomatoLight9: #e54d2e;    
    --colorTomatoLight10: #db4324;    
    --colorTomatoLight11: #ca3214;    
    --colorTomatoLight12: #341711;    
    --colorTomatoDarkAlpha1: #00000000;    
    --colorTomatoDarkAlpha2: #fd15000f;    
    --colorTomatoDarkAlpha3: #ff301921;    
    --colorTomatoDarkAlpha4: #fe331c30;    
    --colorTomatoDarkAlpha5: #fe351e3d;    
    --colorTomatoDarkAlpha6: #ff391e52;    
    --colorTomatoDarkAlpha7: #ff37196e;    
    --colorTomatoDarkAlpha8: #ff3a1299;    
    --colorTomatoDarkAlpha9: #ff5431e0;    
    --colorTomatoDarkAlpha10: #ff6445eb;    
    --colorTomatoDarkAlpha11: #ff7054f0;    
    --colorTomatoDarkAlpha12: #fff3f0fa;    
    --colorTomatoLightAlpha1: #ff050503;    
    --colorTomatoLightAlpha2: #ff260508;    
    --colorTomatoLightAlpha3: #ff1f0112;    
    --colorTomatoLightAlpha4: #ff22011c;    
    --colorTomatoLightAlpha5: #f41d012b;    
    --colorTomatoLightAlpha6: #ec230040;    
    --colorTomatoLightAlpha7: #de25005e;    
    --colorTomatoLightAlpha8: #d5240180;    
    --colorTomatoLightAlpha9: #df2500d1;    
    --colorTomatoLightAlpha10: #d52400db;    
    --colorTomatoLightAlpha11: #c62100eb;    
    --colorTomatoLightAlpha12: #260600ed;    
    --colorRedDark1: #1f1315;    
    --colorRedDark2: #291415;    
    --colorRedDark3: #3c181a;    
    --colorRedDark4: #481a1d;    
    --colorRedDark5: #541b1f;    
    --colorRedDark6: #671e22;    
    --colorRedDark7: #822025;    
    --colorRedDark8: #aa2429;    
    --colorRedDark9: #e5484d;    
    --colorRedDark10: #f2555a;    
    --colorRedDark11: #ff6369;    
    --colorRedDark12: #feecee;    
    --colorRedLight1: #fffcfc;    
    --colorRedLight2: #fff8f8;    
    --colorRedLight3: #ffefef;    
    --colorRedLight4: #ffe5e5;    
    --colorRedLight5: #fdd8d8;    
    --colorRedLight6: #f9c6c6;    
    --colorRedLight7: #f3aeaf;    
    --colorRedLight8: #eb9091;    
    --colorRedLight9: #e5484d;    
    --colorRedLight10: #dc3d43;    
    --colorRedLight11: #cd2b31;    
    --colorRedLight12: #381316;    
    --colorRedDarkAlpha1: #00000000;    
    --colorRedDarkAlpha2: #fd28150d;    
    --colorRedDarkAlpha3: #fe3a3d21;    
    --colorRedDarkAlpha4: #fe39402e;    
    --colorRedDarkAlpha5: #ff353f3d;    
    --colorRedDarkAlpha6: #ff353c52;    
    --colorRedDarkAlpha7: #ff303b70;    
    --colorRedDarkAlpha8: #ff2f369e;    
    --colorRedDarkAlpha9: #ff4f55e0;    
    --colorRedDarkAlpha10: #ff595ff0;    
    --colorRedDarkAlpha11: #ff646afa;    
    --colorRedDarkAlpha12: #fff0f2fa;    
    --colorRedLightAlpha1: #ff050503;    
    --colorRedLightAlpha2: #ff050508;    
    --colorRedLightAlpha3: #ff01010f;    
    --colorRedLightAlpha4: #ff00001a;    
    --colorRedLightAlpha5: #f2000026;    
    --colorRedLightAlpha6: #e4010138;    
    --colorRedLightAlpha7: #d9000452;    
    --colorRedLightAlpha8: #d1000470;    
    --colorRedLightAlpha9: #db0007b8;    
    --colorRedLightAlpha10: #d10007c2;    
    --colorRedLightAlpha11: #c30007d4;    
    --colorRedLightAlpha12: #280003ed;    
    --colorCrimsonDark1: #1d1418;    
    --colorCrimsonDark2: #27141c;    
    --colorCrimsonDark3: #3c1827;    
    --colorCrimsonDark4: #481a2d;    
    --colorCrimsonDark5: #541b33;    
    --colorCrimsonDark6: #641d3b;    
    --colorCrimsonDark7: #801d45;    
    --colorCrimsonDark8: #ae1955;    
    --colorCrimsonDark9: #e93d82;    
    --colorCrimsonDark10: #f04f88;    
    --colorCrimsonDark11: #f76190;    
    --colorCrimsonDark12: #feecf4;    
    --colorCrimsonLight1: #fffcfd;    
    --colorCrimsonLight2: #fff7fb;    
    --colorCrimsonLight3: #feeff6;    
    --colorCrimsonLight4: #fce5f0;    
    --colorCrimsonLight5: #f9d8e7;    
    --colorCrimsonLight6: #f4c6db;    
    --colorCrimsonLight7: #edadc8;    
    --colorCrimsonLight8: #e58fb1;    
    --colorCrimsonLight9: #e93d82;    
    --colorCrimsonLight10: #e03177;    
    --colorCrimsonLight11: #d31e66;    
    --colorCrimsonLight12: #3d0d1d;    
    --colorCrimsonDarkAlpha1: #00000000;    
    --colorCrimsonDarkAlpha2: #fb14710d;    
    --colorCrimsonDarkAlpha3: #fe318624;    
    --colorCrimsonDarkAlpha4: #fe338430;    
    --colorCrimsonDarkAlpha5: #fe31863d;    
    --colorCrimsonDarkAlpha6: #fe31864f;    
    --colorCrimsonDarkAlpha7: #fe287e70;    
    --colorCrimsonDarkAlpha8: #ff1c77a3;    
    --colorCrimsonDarkAlpha9: #ff418de5;    
    --colorCrimsonDarkAlpha10: #ff538fed;    
    --colorCrimsonDarkAlpha11: #ff6495f5;    
    --colorCrimsonDarkAlpha12: #fff0f8fa;    
    --colorCrimsonLightAlpha1: #ff055803;    
    --colorCrimsonLightAlpha2: #ff058208;    
    --colorCrimsonLightAlpha3: #ef01700f;    
    --colorCrimsonLightAlpha4: #e2006d1a;    
    --colorCrimsonLightAlpha5: #d8006126;    
    --colorCrimsonLightAlpha6: #ce015d38;    
    --colorCrimsonLightAlpha7: #c7005352;    
    --colorCrimsonLightAlpha8: #c4004f70;    
    --colorCrimsonLightAlpha9: #e2005ac2;    
    --colorCrimsonLightAlpha10: #d90057cf;    
    --colorCrimsonLightAlpha11: #cd0052e0;    
    --colorCrimsonLightAlpha12: #330011f2;    
    --colorPinkDark1: #1f121b;    
    --colorPinkDark2: #271421;    
    --colorPinkDark3: #3a182f;    
    --colorPinkDark4: #451a37;    
    --colorPinkDark5: #501b3f;    
    --colorPinkDark6: #601d48;    
    --colorPinkDark7: #7a1d5a;    
    --colorPinkDark8: #a71873;    
    --colorPinkDark9: #d6409f;    
    --colorPinkDark10: #e34ba9;    
    --colorPinkDark11: #f65cb6;    
    --colorPinkDark12: #feebf7;    
    --colorPinkLight1: #fffcfe;    
    --colorPinkLight2: #fff7fc;    
    --colorPinkLight3: #feeef8;    
    --colorPinkLight4: #fce5f3;    
    --colorPinkLight5: #f9d8ec;    
    --colorPinkLight6: #f3c6e2;    
    --colorPinkLight7: #ecadd4;    
    --colorPinkLight8: #e38ec3;    
    --colorPinkLight9: #d6409f;    
    --colorPinkLight10: #d23197;    
    --colorPinkLight11: #cd1d8d;    
    --colorPinkLight12: #3b0a2a;    
    --colorPinkDarkAlpha1: #00000000;    
    --colorPinkDarkAlpha2: #fd4ac10a;    
    --colorPinkDarkAlpha3: #fe44c01f;    
    --colorPinkDarkAlpha4: #ff41bf2b;    
    --colorPinkDarkAlpha5: #ff3bc138;    
    --colorPinkDarkAlpha6: #fe38b64a;    
    --colorPinkDarkAlpha7: #ff2db569;    
    --colorPinkDarkAlpha8: #ff1cac9c;    
    --colorPinkDarkAlpha9: #ff4abdd1;    
    --colorPinkDarkAlpha10: #ff53bde0;    
    --colorPinkDarkAlpha11: #ff5fbcf5;    
    --colorPinkDarkAlpha12: #ffeffbfa;    
    --colorPinkLightAlpha1: #ff05ac03;    
    --colorPinkLightAlpha2: #ff059f08;    
    --colorPinkLightAlpha3: #f0019412;    
    --colorPinkLightAlpha4: #e2008b1a;    
    --colorPinkLightAlpha5: #d8008126;    
    --colorPinkLightAlpha6: #c9017c38;    
    --colorPinkLightAlpha7: #c4007952;    
    --colorPinkLightAlpha8: #c0007670;    
    --colorPinkLightAlpha9: #c8007fbf;    
    --colorPinkLightAlpha10: #c7007ecf;    
    --colorPinkLightAlpha11: #c7007ee3;    
    --colorPinkLightAlpha12: #330021f5;    
    --colorPlumDark1: #1d131d;    
    --colorPlumDark2: #251425;    
    --colorPlumDark3: #341a34;    
    --colorPlumDark4: #3e1d40;    
    --colorPlumDark5: #48214b;    
    --colorPlumDark6: #542658;    
    --colorPlumDark7: #692d6f;    
    --colorPlumDark8: #883894;    
    --colorPlumDark9: #ab4aba;    
    --colorPlumDark10: #bd54c6;    
    --colorPlumDark11: #d864d8;    
    --colorPlumDark12: #fbecfc;    
    --colorPlumLight1: #fefcff;    
    --colorPlumLight2: #fff8ff;    
    --colorPlumLight3: #fceffc;    
    --colorPlumLight4: #f9e5f9;    
    --colorPlumLight5: #f3d9f4;    
    --colorPlumLight6: #ebc8ed;    
    --colorPlumLight7: #dfafe3;    
    --colorPlumLight8: #cf91d8;    
    --colorPlumLight9: #ab4aba;    
    --colorPlumLight10: #a43cb4;    
    --colorPlumLight11: #9c2bad;    
    --colorPlumLight12: #340c3b;    
    --colorPlumDarkAlpha1: #00000000;    
    --colorPlumDarkAlpha2: #fb2ffb0a;    
    --colorPlumDarkAlpha3: #fe58fe1a;    
    --colorPlumDarkAlpha4: #f153ff29;    
    --colorPlumDarkAlpha5: #f158fe33;    
    --colorPlumDarkAlpha6: #ee5cfe42;    
    --colorPlumDarkAlpha7: #ee5aff5c;    
    --colorPlumDarkAlpha8: #e959ff87;    
    --colorPlumDarkAlpha9: #ea62ffb0;    
    --colorPlumDarkAlpha10: #f36affbf;    
    --colorPlumDarkAlpha11: #ff75ffd4;    
    --colorPlumDarkAlpha12: #fff0fffa;    
    --colorPlumLightAlpha1: #ac05ff03;    
    --colorPlumLightAlpha2: #ff05ff08;    
    --colorPlumLightAlpha3: #d001d00f;    
    --colorPlumLightAlpha4: #c400c41a;    
    --colorPlumLightAlpha5: #af02b526;    
    --colorPlumLightAlpha6: #a300ac38;    
    --colorPlumLightAlpha7: #9800a64f;    
    --colorPlumLightAlpha8: #8f00a56e;    
    --colorPlumLightAlpha9: #89009eb5;    
    --colorPlumLightAlpha10: #88009dc2;    
    --colorPlumLightAlpha11: #88009cd4;    
    --colorPlumLightAlpha12: #2a0031f2;    
    --colorPurpleDark1: #1b141d;    
    --colorPurpleDark2: #221527;    
    --colorPurpleDark3: #301a3a;    
    --colorPurpleDark4: #3a1e48;    
    --colorPurpleDark5: #432155;    
    --colorPurpleDark6: #4e2667;    
    --colorPurpleDark7: #5f2d84;    
    --colorPurpleDark8: #7938b2;    
    --colorPurpleDark9: #8e4ec6;    
    --colorPurpleDark10: #9d5bd2;    
    --colorPurpleDark11: #bf7af0;    
    --colorPurpleDark12: #f7ecfc;    
    --colorPurpleLight1: #fefcfe;    
    --colorPurpleLight2: #fdfaff;    
    --colorPurpleLight3: #f9f1fe;    
    --colorPurpleLight4: #f3e7fc;    
    --colorPurpleLight5: #eddbf9;    
    --colorPurpleLight6: #e3ccf4;    
    --colorPurpleLight7: #d3b4ed;    
    --colorPurpleLight8: #be93e4;    
    --colorPurpleLight9: #8e4ec6;    
    --colorPurpleLight10: #8445bc;    
    --colorPurpleLight11: #793aaf;    
    --colorPurpleLight12: #2b0e44;    
    --colorPurpleDarkAlpha1: #00000000;    
    --colorPurpleDarkAlpha2: #b52afb0d;    
    --colorPurpleDarkAlpha3: #bc43fe21;    
    --colorPurpleDarkAlpha4: #be48fe30;    
    --colorPurpleDarkAlpha5: #bc49ff40;    
    --colorPurpleDarkAlpha6: #b74bff54;    
    --colorPurpleDarkAlpha7: #b14aff75;    
    --colorPurpleDarkAlpha8: #ab4bffa8;    
    --colorPurpleDarkAlpha9: #b561ffbf;    
    --colorPurpleDarkAlpha10: #bd6dffcc;    
    --colorPurpleDarkAlpha11: #cb81ffed;    
    --colorPurpleDarkAlpha12: #fcf0fffa;    
    --colorPurpleLightAlpha1: #ab05ab03;    
    --colorPurpleLightAlpha2: #9b05ff05;    
    --colorPurpleLightAlpha3: #9200ed0d;    
    --colorPurpleLightAlpha4: #8002e017;    
    --colorPurpleLightAlpha5: #8001d524;    
    --colorPurpleLightAlpha6: #7500c833;    
    --colorPurpleLightAlpha7: #6b01c24a;    
    --colorPurpleLightAlpha8: #6600bf6b;    
    --colorPurpleLightAlpha9: #5c00adb0;    
    --colorPurpleLightAlpha10: #5700a3ba;    
    --colorPurpleLightAlpha11: #510097c4;    
    --colorPurpleLightAlpha12: #1f0039f2;    
    --colorVioletDark1: #17151f;    
    --colorVioletDark2: #1c172b;    
    --colorVioletDark3: #251e40;    
    --colorVioletDark4: #2c2250;    
    --colorVioletDark5: #32275f;    
    --colorVioletDark6: #392c72;    
    --colorVioletDark7: #443592;    
    --colorVioletDark8: #5842c3;    
    --colorVioletDark9: #6e56cf;    
    --colorVioletDark10: #7c66dc;    
    --colorVioletDark11: #9e8cfc;    
    --colorVioletDark12: #f1eefe;    
    --colorVioletLight1: #fdfcfe;    
    --colorVioletLight2: #fbfaff;    
    --colorVioletLight3: #f5f2ff;    
    --colorVioletLight4: #ede9fe;    
    --colorVioletLight5: #e4defc;    
    --colorVioletLight6: #d7cff9;    
    --colorVioletLight7: #c4b8f3;    
    --colorVioletLight8: #aa99ec;    
    --colorVioletLight9: #6e56cf;    
    --colorVioletLight10: #644fc1;    
    --colorVioletLight11: #5746af;    
    --colorVioletLight12: #20134b;    
    --colorVioletDarkAlpha1: #00000000;    
    --colorVioletDarkAlpha2: #743afd0d;    
    --colorVioletDarkAlpha3: #7452fe26;    
    --colorVioletDarkAlpha4: #7650ff38;    
    --colorVioletDarkAlpha5: #7654ff4a;    
    --colorVioletDarkAlpha6: #7253ff5e;    
    --colorVioletDarkAlpha7: #7053ff82;    
    --colorVioletDarkAlpha8: #6f52ffba;    
    --colorVioletDarkAlpha9: #8668ffc9;    
    --colorVioletDarkAlpha10: #8e75ffd6;    
    --colorVioletDarkAlpha11: #a18efffa;    
    --colorVioletDarkAlpha12: #f5f2fffa;    
    --colorVioletLightAlpha1: #5805ab03;    
    --colorVioletLightAlpha2: #3705ff05;    
    --colorVioletLightAlpha3: #3c00ff0d;    
    --colorVioletLightAlpha4: #2e02f417;    
    --colorVioletLightAlpha5: #2f01e821;    
    --colorVioletLightAlpha7: #2b01d447;    
    --colorVioletLightAlpha8: #2a00d066;    
    --colorVioletLightAlpha9: #2500b6a8;    
    --colorVioletLightAlpha10: #1f00a5b0;    
    --colorIndigoDark1: #131620;    
    --colorIndigoDark2: #15192d;    
    --colorIndigoDark3: #192140;    
    --colorIndigoDark4: #1c274f;    
    --colorIndigoDark5: #1f2c5c;    
    --colorIndigoDark6: #22346e;    
    --colorIndigoDark7: #273e89;    
    --colorIndigoDark8: #2f4eb2;    
    --colorIndigoDark9: #3e63dd;    
    --colorIndigoDark10: #5373e7;    
    --colorIndigoDark11: #849dff;    
    --colorIndigoDark12: #eef1fd;    
    --colorIndigoLight1: #fdfdfe;    
    --colorIndigoLight2: #f8faff;    
    --colorIndigoLight3: #f0f4ff;    
    --colorIndigoLight4: #e6edfe;    
    --colorIndigoLight5: #d9e2fc;    
    --colorIndigoLight6: #c6d4f9;    
    --colorIndigoLight7: #aec0f5;    
    --colorIndigoLight8: #8da4ef;    
    --colorIndigoLight9: #3e63dd;    
    --colorIndigoLight10: #3a5ccc;    
    --colorIndigoLight11: #3451b2;    
    --colorIndigoLight12: #101d46;    
    --colorIndigoDarkAlpha1: #00000000;    
    --colorIndigoDarkAlpha2: #3549fc0f;    
    --colorIndigoDarkAlpha3: #3c63fe24;    
    --colorIndigoDarkAlpha4: #3d67ff36;    
    --colorIndigoDarkAlpha5: #3f69fe45;    
    --colorIndigoDarkAlpha6: #3e6bff59;    
    --colorIndigoDarkAlpha7: #3d6aff78;    
    --colorIndigoDarkAlpha8: #3e6bffa6;    
    --colorIndigoDarkAlpha9: #4571ffd9;    
    --colorIndigoDarkAlpha10: #5a7effe3;    
    --colorIndigoDarkAlpha11: #86a0fffa;    
    --colorIndigoDarkAlpha12: #f2f5fffa;    
    --colorIndigoLightAlpha1: #05058203;    
    --colorIndigoLightAlpha2: #054cff08;    
    --colorIndigoLightAlpha3: #0144ff0f;    
    --colorIndigoLightAlpha4: #0247f51a;    
    --colorIndigoLightAlpha5: #023ceb26;    
    --colorIndigoLightAlpha6: #013de438;    
    --colorIndigoLightAlpha7: #0038e052;    
    --colorIndigoLightAlpha8: #0134db73;    
    --colorIndigoLightAlpha9: #0031d2c2;    
    --colorIndigoLightAlpha10: #002cbdc4;    
    --colorIndigoLightAlpha11: #00259ecc;    
    --colorIndigoLightAlpha12: #000e3af0;    
    --colorBlueDark1: #0f1720;    
    --colorBlueDark2: #0f1b2d;    
    --colorBlueDark3: #10243e;    
    --colorBlueDark4: #102a4c;    
    --colorBlueDark5: #0f3058;    
    --colorBlueDark6: #0d3868;    
    --colorBlueDark7: #0a4481;    
    --colorBlueDark8: #0954a5;    
    --colorBlueDark9: #0091ff;    
    --colorBlueDark10: #369eff;    
    --colorBlueDark11: #52a9ff;    
    --colorBlueDark12: #eaf6ff;    
    --colorBlueLight1: #fbfdff;    
    --colorBlueLight2: #f5faff;    
    --colorBlueLight4: #e1f0ff;    
    --colorBlueLight5: #cee7fe;    
    --colorBlueLight7: #96c7f2;    
    --colorBlueLight8: #5eb0ef;    
    --colorBlueLight10: #0081f1;    
    --colorBlueDarkAlpha1: #00000000;    
    --colorBlueDarkAlpha2: #0f5afc0f;    
    --colorBlueDarkAlpha3: #1677fe24;    
    --colorBlueDarkAlpha4: #1476fe33;    
    --colorBlueDarkAlpha5: #0f7bfe40;    
    --colorBlueDarkAlpha7: #047dff70;    
    --colorBlueDarkAlpha8: #057eff99;    
    --colorBlueDarkAlpha9: #0095fffa;    
    --colorBlueDarkAlpha10: #37a1fffa;    
    --colorBlueDarkAlpha11: #53acfffa;    
    --colorBlueDarkAlpha12: #effbfffa;    
    --colorBlueLightAlpha1: #0582ff05;    
    --colorBlueLightAlpha2: #0582ff0a;    
    --colorBlueLightAlpha3: #0280ff12;    
    --colorBlueLightAlpha4: #0180ff1f;    
    --colorBlueLightAlpha5: #0180ef30;    
    --colorBlueLightAlpha6: #0177e647;    
    --colorBlueLightAlpha7: #0077df69;    
    --colorBlueLightAlpha8: #0082e6a1;    
    --colorBlueLightAlpha9: #0091fffa;    
    --colorBlueLightAlpha10: #0080f1fa;    
    --colorBlueLightAlpha11: #0066dbfa;    
    --colorBlueLightAlpha12: #002149fa;    
    --colorCyanDark2: #061e24;    
    --colorCyanDark6: #064150;    
    --colorCyanDark7: #045063;    
    --colorCyanDark9: #05a2c2;    
    --colorCyanDark10: #00b1cc;    
    --colorCyanDark11: #00c2d7;    
    --colorCyanDark12: #e1f8fa;    
    --colorCyanLight1: #fafdfe;    
    --colorCyanLight3: #e7f9fb;    
    --colorCyanLight4: #d8f3f6;    
    --colorCyanLight5: #c4eaef;    
    --colorCyanLight6: #aadee6;    
    --colorCyanLight7: #84cdda;    
    --colorCyanLight8: #3db9cf;    
    --colorCyanLight9: #05a2c2;    
    --colorCyanLight10: #0894b3;    
    --colorCyanLight11: #0c7792;    
    --colorCyanLight12: #04313c;    
    --colorCyanDarkAlpha1: #00000000;    
    --colorCyanDarkAlpha2: #00bbff08;    
    --colorCyanDarkAlpha3: #07cbfc17;    
    --colorCyanDarkAlpha4: #07c5ff21;    
    --colorCyanDarkAlpha5: #07cdfe2b;    
    --colorCyanDarkAlpha6: #02c8ff3b;    
    --colorCyanDarkAlpha7: #00ccff4f;    
    --colorCyanDarkAlpha8: #00c8ff6e;    
    --colorCyanDarkAlpha9: #04d5ffba;    
    --colorCyanDarkAlpha10: #00ddffc4;    
    --colorCyanDarkAlpha11: #00e5fed1;    
    --colorCyanDarkAlpha12: #e6fdfffa;    
    --colorCyanLightAlpha1: #059bcd05;    
    --colorCyanLightAlpha2: #00c6d80d;    
    --colorCyanLightAlpha3: #02c0d517;    
    --colorCyanLightAlpha4: #00b1c426;    
    --colorCyanLightAlpha5: #01a4ba3b;    
    --colorCyanLightAlpha6: #019cb454;    
    --colorCyanLightAlpha7: #0097b27a;    
    --colorCyanLightAlpha8: #00a3c0c2;    
    --colorCyanLightAlpha9: #00a1c1fa;    
    --colorCyanLightAlpha10: #0090b0f7;    
    --colorCyanLightAlpha11: #00718df2;    
    --colorCyanLightAlpha12: #002d38fa;    
    --colorTealDark1: #091915;    
    --colorTealDark2: #04201b;    
    --colorTealDark3: #062923;    
    --colorTealDark4: #07312b;    
    --colorTealDark5: #083932;    
    --colorTealDark6: #09443c;    
    --colorTealDark7: #0b544a;    
    --colorTealDark8: #0c6d62;    
    --colorTealDark9: #12a594;    
    --colorTealDark10: #10b3a3;    
    --colorTealDark11: #0ac5b3;    
    --colorTealDark12: #e1faf4;    
    --colorTealLight1: #fafefd;    
    --colorTealLight2: #f1fcfa;    
    --colorTealLight3: #e7f9f5;    
    --colorTealLight4: #d9f3ee;    
    --colorTealLight7: #8dcec3;    
    --colorTealLight8: #53b9ab;    
    --colorTealLight10: #0e9888;    
    --colorTealDarkAlpha2: #00fbd508;    
    --colorTealDarkAlpha5: #02fee424;    
    --colorTealDarkAlpha7: #11ffe342;    
    --colorTealDarkAlpha8: #11ffe75e;    
    --colorTealDarkAlpha9: #18ffe49c;    
    --colorTealDarkAlpha10: #13ffe7ab;    
    --colorTealDarkAlpha11: #0affe7bf;    
    --colorTealDarkAlpha12: #e6fff9fa;    
    --colorTealLightAlpha1: #05cd9b05;    
    --colorTealLightAlpha2: #01c8a40d;    
    --colorTealLightAlpha3: #02c09717;    
    --colorTealLightAlpha4: #02af8c26;    
    --colorTealLightAlpha5: #00a48938;    
    --colorTealLightAlpha6: #0099804f;    
    --colorTealLightAlpha7: #01927a73;    
    --colorTealLightAlpha8: #009783ad;    
    --colorTealLightAlpha9: #009e8ced;    
    --colorTealLightAlpha10: #009281f2;    
    --colorTealLightAlpha11: #00776bfa;    
    --colorTealLightAlpha12: #00221df0;    
    --colorGreenDark1: #0d1912;    
    --colorGreenDark2: #0c1f17;    
    --colorGreenDark3: #0f291e;    
    --colorGreenDark4: #113123;    
    --colorGreenDark5: #133929;    
    --colorGreenDark6: #164430;    
    --colorGreenDark7: #1b543a;    
    --colorGreenDark8: #236e4a;    
    --colorGreenDark9: #30a46c;    
    --colorGreenDark10: #3cb179;    
    --colorGreenDark11: #4cc38a;    
    --colorGreenDark12: #e5fbeb;    
    --colorGreenLight1: #fbfefc;    
    --colorGreenLight2: #f2fcf5;    
    --colorGreenLight3: #e9f9ee;    
    --colorGreenLight4: #ddf3e4;    
    --colorGreenLight5: #ccebd7;    
    --colorGreenLight6: #b4dfc4;    
    --colorGreenLight7: #92ceac;    
    --colorGreenLight8: #5bb98c;    
    --colorGreenLight9: #30a46c;    
    --colorGreenLight10: #299764;    
    --colorGreenLight11: #18794e;    
    --colorGreenLight12: #153226;    
    --colorGreenDarkAlpha1: #00000000;    
    --colorGreenDarkAlpha5: #38feb524;    
    --colorGreenDarkAlpha6: #3dffb130;    
    --colorGreenDarkAlpha8: #49ffaa5e;    
    --colorGreenLightAlpha3: #02ba3c17;    
    --colorGreenLightAlpha6: #0193364a;    
    --colorGreenLightAlpha9: #008f4acf;    
    --colorGreenLightAlpha11: #006b3be8;    
    --colorGreenLightAlpha12: #002012eb;    
    --colorGrassDark1: #0d1912;    
    --colorGrassDark2: #0f1e13;    
    --colorGrassDark3: #132819;    
    --colorGrassDark4: #16301d;    
    --colorGrassDark5: #193921;    
    --colorGrassDark6: #1d4427;    
    --colorGrassDark7: #245530;    
    --colorGrassDark8: #2f6e3b;    
    --colorGrassDark9: #46a758;    
    --colorGrassDark10: #55b467;    
    --colorGrassDark11: #63c174;    
    --colorGrassDark12: #e5fbeb;    
    --colorGrassLight1: #fbfefb;    
    --colorGrassLight2: #f3fcf3;    
    --colorGrassLight3: #ebf9eb;    
    --colorGrassLight4: #dff3df;    
    --colorGrassLight5: #ceebcf;    
    --colorGrassLight6: #b7dfba;    
    --colorGrassLight7: #97cf9c;    
    --colorGrassLight8: #65ba75;    
    --colorGrassLight9: #46a758;    
    --colorGrassLight10: #3d9a50;    
    --colorGrassLight11: #297c3b;    
    --colorGrassLight12: #1b311e;    
    --colorGrassDarkAlpha1: #00000000;    
    --colorGrassDarkAlpha2: #68fc3f05;    
    --colorGrassDarkAlpha3: #68fc7b12;    
    --colorGrassDarkAlpha4: #67ff801a;    
    --colorGrassDarkAlpha5: #63fe7d24;    
    --colorGrassDarkAlpha6: #63ff8230;    
    --colorGrassDarkAlpha7: #65ff8442;    
    --colorGrassDarkAlpha8: #69ff825e;    
    --colorGrassDarkAlpha9: #69ff829e;    
    --colorGrassDarkAlpha10: #78ff91ab;    
    --colorGrassDarkAlpha11: #83ff97ba;    
    --colorGrassDarkAlpha12: #eafff0fa;    
    --colorGrassLightAlpha1: #05c00505;    
    --colorGrassLightAlpha2: #05c0050d;    
    --colorGrassLightAlpha3: #02b30214;    
    --colorGrassLightAlpha4: #01a00121;    
    --colorGrassLightAlpha5: #01970630;    
    --colorGrassLightAlpha7: #008a0c69;    
    --colorGrassLightAlpha8: #008d1a99;    
    --colorGrassLightAlpha9: #008619ba;    
    --colorGrassLightAlpha10: #007a19c2;    
    --colorGrassLightAlpha12: #001904e3;    
    --colorOrangeDark1: #1f1206;    
    --colorOrangeDark2: #2b1400;    
    --colorOrangeDark3: #391a03;    
    --colorOrangeDark4: #441f04;    
    --colorOrangeDark5: #4f2305;    
    --colorOrangeDark6: #5f2a06;    
    --colorOrangeDark7: #763205;    
    --colorOrangeDark8: #943e00;    
    --colorOrangeDark9: #f76808;    
    --colorOrangeDark10: #ff802b;    
    --colorOrangeDark11: #ff8b3e;    
    --colorOrangeDark12: #feeadd;    
    --colorOrangeLight1: #fefcfb;    
    --colorOrangeLight2: #fef8f4;    
    --colorOrangeLight3: #fff1e7;    
    --colorOrangeLight4: #ffe8d7;    
    --colorOrangeLight5: #ffdcc3;    
    --colorOrangeLight6: #ffcca7;    
    --colorOrangeLight7: #ffb381;    
    --colorOrangeLight8: #fa934e;    
    --colorOrangeLight9: #f76808;    
    --colorOrangeLight10: #ed5f00;    
    --colorOrangeLight11: #bd4b00;    
    --colorOrangeLight12: #451e11;    
    --colorOrangeDarkAlpha1: #00000000;    
    --colorOrangeDarkAlpha2: #fd37000d;    
    --colorOrangeDarkAlpha3: #fd54001f;    
    --colorOrangeDarkAlpha4: #fe61002b;    
    --colorOrangeDarkAlpha5: #fe620138;    
    --colorOrangeDarkAlpha6: #ff65064a;    
    --colorOrangeDarkAlpha7: #ff640363;    
    --colorOrangeDarkAlpha8: #fe660085;    
    --colorOrangeDarkAlpha9: #ff6b08f5;    
    --colorOrangeDarkAlpha10: #ff842cfa;    
    --colorOrangeDarkAlpha11: #ff8c3ffa;    
    --colorOrangeDarkAlpha12: #ffeee1fa;    
    --colorOrangeLightAlpha1: #c0430505;    
    --colorOrangeLightAlpha2: #e860050a;    
    --colorOrangeLightAlpha3: #ff6c0317;    
    --colorOrangeLightAlpha4: #ff6e0029;    
    --colorOrangeLightAlpha10: #ed5b00fa;    
    --colorBrownLight5: #efddcc;    
    --colorBrownLight6: #e8cdb5;    
    --colorBrownLight7: #ddb896;    
    --colorBrownLight8: #d09e72;    
    --colorBrownLight9: #ad7f58;    
    --colorBrownLight10: #a07653;    
    --colorBrownLight11: #886349;    
    --colorBrownLight12: #3f2c22;    
    --colorBrownDarkAlpha1: #00000000;    
    --colorBrownDarkAlpha2: #ff69130a;    
    --colorBrownDarkAlpha3: #fd916317;    
    --colorBrownDarkAlpha4: #fe9f6c1f;    
    --colorBrownDarkAlpha5: #feac7229;    
    --colorBrownDarkAlpha6: #feb07936;    
    --colorBrownDarkAlpha7: #feb47e4a;    
    --colorBrownDarkAlpha8: #febc8269;    
    --colorBrownDarkAlpha9: #ffba7ea3;    
    --colorBrownDarkAlpha10: #ffbb7fb5;    
    --colorBrownDarkAlpha11: #ffbb7fd6;    
    --colorBrownDarkAlpha12: #fff5e9fa;    
    --colorBrownLightAlpha1: #ab580503;    
    --colorBrownLightAlpha2: #ab58050a;    
    --colorBrownLightAlpha3: #ab560214;    
    --colorBrownLightAlpha4: #ad5a0121;    
    --colorBrownLightAlpha5: #af550033;    
    --colorBrownLightAlpha6: #b052014a;    
    --colorBrownLightAlpha7: #ac530069;    
    --colorBrownLightAlpha8: #aa4f008c;    
    --colorBrownLightAlpha9: #823d00a6;    
    --colorBrownLightAlpha10: #723300ad;    
    --colorBrownLightAlpha11: #582500b5;    
    --colorBrownLightAlpha12: #220c00de;    
    --colorSkyDark1: #0c1820;    
    --colorSkyDark2: #071d2a;    
    --colorSkyDark3: #082636;    
    --colorSkyDark4: #082d41;    
    --colorSkyDark5: #08354c;    
    --colorSkyDark6: #083e59;    
    --colorSkyDark7: #064b6b;    
    --colorSkyDark8: #005d85;    
    --colorSkyDark9: #68ddfd;    
    --colorSkyDark10: #8ae8ff;    
    --colorSkyDark11: #2ec8ee;    
    --colorSkyDark12: #eaf8ff;    
    --colorSkyLight1: #f9feff;    
    --colorSkyLight2: #f1fcff;    
    --colorSkyLight3: #e4f9ff;    
    --colorSkyLight4: #d5f4fd;    
    --colorSkyLight5: #c1ecf9;    
    --colorSkyLight6: #a4dff1;    
    --colorSkyLight7: #79cfea;    
    --colorSkyLight8: #2ebde5;    
    --colorSkyLight9: #68ddfd;    
    --colorSkyLight10: #5fd4f4;    
    --colorSkyLight11: #0078a1;    
    --colorSkyLight12: #003242;    
    --colorSkyDarkAlpha1: #00000000;    
    --colorSkyDarkAlpha2: #0087fe0d;    
    --colorSkyDarkAlpha3: #00a5fe1a;    
    --colorSkyDarkAlpha4: #00a6ff26;    
    --colorSkyDarkAlpha5: #00a9fe33;    
    --colorSkyDarkAlpha6: #00aefe42;    
    --colorSkyDarkAlpha7: #00aefe57;    
    --colorSkyDarkAlpha8: #00aeff73;    
    --colorSkyDarkAlpha9: #6ae1fffa;    
    --colorSkyDarkAlpha10: #8decfffa;    
    --colorSkyDarkAlpha11: #31d6ffeb;    
    --colorSkyDarkAlpha12: #effdfffa;    
    --colorSkyLightAlpha1: #05d5ff05;    
    --colorSkyLightAlpha2: #01c8ff0d;    
    --colorSkyLightAlpha3: #01c8ff1c;    
    --colorSkyLightAlpha4: #00baf32b;    
    --colorSkyLightAlpha5: #01b1e73d;    
    --colorSkyLightAlpha6: #00a5d85c;    
    --colorSkyLightAlpha7: #00a5d787;    
    --colorSkyLightAlpha8: #00afdfd1;    
    --colorSkyLightAlpha9: #00c5fc96;    
    --colorSkyLightAlpha10: #00baeda1;    
    --colorSkyLightAlpha11: #00759ffa;    
    --colorSkyLightAlpha12: #002e3efa;    
    --colorMintDark1: #081917;    
    --colorMintDark2: #05201e;    
    --colorMintDark3: #052926;    
    --colorMintDark4: #04312c;    
    --colorMintDark5: #033a34;    
    --colorMintDark6: #01453d;    
    --colorMintDark7: #00564a;    
    --colorMintDark8: #006d5b;    
    --colorMintDark9: #70e1c8;    
    --colorMintDark10: #95f3d9;    
    --colorMintDark11: #25d0ab;    
    --colorMintDark12: #e7fcf7;    
    --colorMintLight1: #f9fefd;    
    --colorMintLight2: #effefa;    
    --colorMintLight3: #e1fbf4;    
    --colorMintLight4: #d2f7ed;    
    --colorMintLight5: #c0efe3;    
    --colorMintLight6: #a5e4d4;    
    --colorMintLight7: #7dd4c0;    
    --colorMintLight8: #40c4aa;    
    --colorMintLight9: #70e1c8;    
    --colorMintLight10: #69d9c1;    
    --colorMintLight11: #147d6f;    
    --colorMintLight12: #09342e;    
    --colorMintDarkAlpha1: #00000000;    
    --colorMintDarkAlpha2: #00fbfb08;    
    --colorMintDarkAlpha3: #00fded12;    
    --colorMintDarkAlpha4: #00fde01a;    
    --colorMintDarkAlpha5: #00fee024;    
    --colorMintDarkAlpha6: #00fedc30;    
    --colorMintDarkAlpha7: #00fed845;    
    --colorMintDarkAlpha8: #00fed05e;    
    --colorMintDarkAlpha9: #80ffe3de;    
    --colorMintDarkAlpha10: #9dffe3f2;    
    --colorMintDarkAlpha11: #2cffd1cc;    
    --colorMintDarkAlpha12: #ecfffbfa;    
    --colorMintLightAlpha1: #05d5ac05;    
    --colorMintLightAlpha2: #01efb00f;    
    --colorMintLightAlpha3: #01dda21f;    
    --colorMintLightAlpha4: #01d29a2e;    
    --colorMintLightAlpha5: #01be8f40;    
    --colorMintLightAlpha6: #00b38659;    
    --colorMintLightAlpha7: #00ab8382;    
    --colorMintLightAlpha8: #00b08dbf;    
    --colorMintLightAlpha9: #00c99e8f;    
    --colorMintLightAlpha10: #00be9596;    
    --colorMintLightAlpha11: #007263eb;    
    --colorMintLightAlpha12: #002d27f5;    
    --colorLimeDark1: #141807;    
    --colorLimeDark2: #181d08;    
    --colorLimeDark3: #1e260d;    
    --colorLimeDark4: #252e0f;    
    --colorLimeDark5: #2b3711;    
    --colorLimeDark6: #344213;    
    --colorLimeDark7: #415215;    
    --colorLimeDark8: #536716;    
    --colorLimeDark9: #99d52a;    
    --colorLimeDark10: #c4f042;    
    --colorLimeDark11: #87be22;    
    --colorLimeDark12: #effbdd;    
    --colorLimeLight1: #fcfdfa;    
    --colorLimeLight2: #f7fcf0;    
    --colorLimeLight3: #eefadc;    
    --colorLimeLight4: #e4f7c7;    
    --colorLimeLight5: #d7f2b0;    
    --colorLimeLight6: #c9e894;    
    --colorLimeLight7: #b1d16a;    
    --colorLimeLight8: #94ba2c;    
    --colorLimeLight9: #99d52a;    
    --colorLimeLight10: #93c926;    
    --colorLimeLight11: #5d770d;    
    --colorLimeLight12: #263209;    
    --colorLimeDarkAlpha1: #00000000;    
    --colorLimeDarkAlpha2: #cafb3505;    
    --colorLimeDarkAlpha3: #b8fd6a0f;    
    --colorLimeDarkAlpha4: #c4fd5b1a;    
    --colorLimeDarkAlpha5: #befe5124;    
    --colorLimeDarkAlpha6: #c5ff492e;    
    --colorLimeDarkAlpha7: #c8fe3f40;    
    --colorLimeDarkAlpha8: #ccff3357;    
    --colorLimeDarkAlpha9: #b7ff32d1;    
    --colorLimeDarkAlpha10: #d1ff46f0;    
    --colorLimeDarkAlpha11: #b5ff2cb8;    
    --colorLimeDarkAlpha12: #f4ffe1fa;    
    --colorLimeLightAlpha1: #699b0505;    
    --colorLimeLightAlpha2: #77cc010f;    
    --colorLimeLightAlpha3: #84db0124;    
    --colorLimeLightAlpha4: #83db0038;    
    --colorLimeLightAlpha5: #7cd5004f;    
    --colorLimeLightAlpha6: #7fc8006b;    
    --colorLimeLightAlpha7: #78b00094;    
    --colorLimeLightAlpha8: #7eac00d4;    
    --colorLimeLightAlpha9: #85cd00d6;    
    --colorLimeLightAlpha10: #80c000d9;    
    --colorLimeLightAlpha11: #547000f2;    
    --colorLimeLightAlpha12: #1e2b00f5;    
    --colorYellowDark1: #1c1500;    
    --colorYellowDark2: #221a00;    
    --colorYellowDark3: #2c2100;    
    --colorYellowDark4: #352800;    
    --colorYellowDark5: #3e3000;    
    --colorYellowDark6: #493c00;    
    --colorYellowDark7: #594a05;    
    --colorYellowDark8: #705e00;    
    --colorYellowDark9: #f5d90a;    
    --colorYellowDark10: #ffef5c;    
    --colorYellowDark11: #f0c000;    
    --colorYellowDark12: #fffad1;    
    --colorYellowLight1: #fdfdf9;    
    --colorYellowLight2: #fffce8;    
    --colorYellowLight3: #fffbd1;    
    --colorYellowLight4: #fff8bb;    
    --colorYellowLight5: #fef2a4;    
    --colorYellowLight6: #f9e68c;    
    --colorYellowLight7: #efd36c;    
    --colorYellowLight8: #ebbc00;    
    --colorYellowLight9: #f5d90a;    
    --colorYellowLight10: #f7ce00;    
    --colorYellowLight11: #946800;    
    --colorYellowLight12: #35290f;    
    --colorYellowDarkAlpha1: #00000000;    
    --colorYellowDarkAlpha2: #facd0008;    
    --colorYellowDarkAlpha3: #fdbe0012;    
    --colorYellowDarkAlpha4: #fdc2001c;    
    --colorYellowDarkAlpha5: #fec70026;    
    --colorYellowDarkAlpha6: #fed80033;    
    --colorYellowDarkAlpha7: #ffdb1345;    
    --colorYellowDarkAlpha8: #fed8005e;    
    --colorYellowDarkAlpha9: #ffe20af5;    
    --colorYellowDarkAlpha10: #fff45efa;    
    --colorYellowDarkAlpha11: #ffcc00ed;    
    --colorYellowDarkAlpha12: #ffffd5fa;    
    --colorYellowLightAlpha2: #ffdd0217;    
    --colorYellowLightAlpha5: #fcdb005c;    
    --colorYellowLightAlpha6: #f2c90073;    
    --colorYellowLightAlpha7: #e3b20094;    
    --colorYellowLightAlpha8: #ebbc00fa;    
    --colorYellowLightAlpha9: #f5d800f5;    
    --colorYellowLightAlpha10: #f7ce00fa;    
    --colorYellowLightAlpha11: #926600fa;    
    --colorYellowLightAlpha12: #291c00f0;    
    --colorAmberDark1: #1f1300;    
    --colorAmberDark2: #271700;    
    --colorAmberDark3: #341c00;    
    --colorAmberDark4: #3f2200;    
    --colorAmberDark5: #4a2900;    
    --colorAmberDark6: #573300;    
    --colorAmberDark7: #693f05;    
    --colorAmberDark8: #824e00;    
    --colorAmberLight1: #fefdfb;    
    --colorAmberLight2: #fff9ed;    
    --colorAmberLight6: #ffd386;    
    --colorAmberLight10: #ffa01c;    
    --colorAmberLight11: #ad5700;    
    --colorAmberLight12: #4e2009;    
    --colorAmberDarkAlpha1: #00000000;    
    --colorAmberDarkAlpha2: #fd83000a;    
    --colorAmberDarkAlpha3: #fe730017;    
    --colorAmberDarkAlpha4: #ff7b0024;    
    --colorAmberDarkAlpha5: #ff840030;    
    --colorAmberDarkAlpha7: #ff970f54;    
    --colorAmberDarkAlpha8: #ff990070;    
    --colorAmberDarkAlpha9: #ffb625fa;    
    --colorAmberDarkAlpha10: #ffce48fa;    
    --colorAmberDarkAlpha11: #ffab0ef0;    
    --colorAmberDarkAlpha12: #fff8e1fa;    
    --colorAmberLightAlpha1: #c0820505;    
    --colorAmberLightAlpha2: #ffab0212;    
    --colorAmberLightAlpha3: #ffbb012b;    
    --colorAmberLightAlpha4: #ffb70042;    
    --colorAmberLightAlpha5: #ffb3005e;    
    --colorAmberLightAlpha6: #ffa20178;    
    --colorAmberLightAlpha7: #ec8d009c;    
    --colorAmberLightAlpha8: #ea8900d4;    
    --colorAmberLightAlpha9: #ffa600db;    
    --colorAmberLightAlpha10: #ff9500e3;    
    --colorAmberLightAlpha11: #ab5300fa;    
    --colorAmberLightAlpha12: #481800f5;    
    --colorGrayDark1: #161616;    
    --colorGrayDark2: #1c1c1c;    
    --colorGrayDark3: #232323;    
    --colorGrayDark4: #282828;    
    --colorGrayDark5: #2e2e2e;    
    --colorGrayDark6: #343434;    
    --colorGrayDark7: #3e3e3e;    
    --colorGrayDark8: #505050;    
    --colorGrayDark9: #707070;    
    --colorGrayDark10: #7e7e7e;    
    --colorGrayDark11: #a0a0a0;    
    --colorGrayDark12: #ededed;    
    --colorGrayLight1: #fcfcfc;    
    --colorGrayLight2: #f8f8f8;    
    --colorGrayLight3: #f3f3f3;    
    --colorGrayLight4: #ededed;    
    --colorGrayLight5: #e8e8e8;    
    --colorGrayLight6: #e2e2e2;    
    --colorGrayLight7: #dbdbdb;    
    --colorGrayLight8: #c7c7c7;    
    --colorGrayLight9: #8f8f8f;    
    --colorGrayLight10: #858585;    
    --colorGrayLight11: #6f6f6f;    
    --colorGrayLight12: #171717;    
    --colorGrayDarkAlpha1: #00000000;    
    --colorGrayDarkAlpha2: #ffffff08;    
    --colorGrayDarkAlpha3: #ffffff0f;    
    --colorGrayDarkAlpha4: #ffffff14;    
    --colorGrayDarkAlpha5: #ffffff1a;    
    --colorGrayDarkAlpha6: #ffffff21;    
    --colorGrayDarkAlpha8: #ffffff40;    
    --colorGrayDarkAlpha9: #ffffff63;    
    --colorGrayDarkAlpha10: #ffffff73;    
    --colorGrayDarkAlpha11: #ffffff96;    
    --colorGrayDarkAlpha12: #ffffffeb;    
    --colorGrayLightAlpha2: #00000008;    
    --colorGrayLightAlpha3: #0000000d;    
    --colorGrayLightAlpha5: #00000017;    
    --colorGrayLightAlpha6: #0000001c;    
    --colorGrayLightAlpha7: #00000024;    
    --colorGrayLightAlpha8: #00000038;    
    --colorGrayLightAlpha9: #00000070;    
    --colorGrayLightAlpha10: #0000007a;    
    --colorGrayLightAlpha11: #0000008f;    
    --colorGrayLightAlpha12: #000000e8;    
    --colorMauveDark1: #161618;    
    --colorMauveDark2: #1c1c1f;    
    --colorMauveDark3: #232326;    
    --colorMauveDark4: #28282c;    
    --colorMauveDark5: #2e2e32;    
    --colorMauveDark6: #34343a;    
    --colorMauveDark7: #3e3e44;    
    --colorMauveDark8: #504f57;    
    --colorMauveDark9: #706f78;    
    --colorMauveDark10: #7e7d86;    
    --colorMauveDark11: #a09fa6;    
    --colorMauveDark12: #ededef;    
    --colorMauveLight1: #fdfcfd;    
    --colorMauveLight2: #f9f8f9;    
    --colorMauveLight3: #f4f2f4;    
    --colorMauveLight4: #eeedef;    
    --colorMauveLight5: #e9e8ea;    
    --colorMauveLight6: #e4e2e4;    
    --colorMauveLight7: #dcdbdd;    
    --colorMauveLight8: #c8c7cb;    
    --colorMauveLight9: #908e96;    
    --colorMauveLight10: #86848d;    
    --colorMauveLight11: #6f6e77;    
    --colorMauveLight12: #1a1523;    
    --colorMauveDarkAlpha1: #00000000;    
    --colorMauveDarkAlpha2: #d7d7fa08;    
    --colorMauveDarkAlpha3: #ebebfe0f;    
    --colorMauveDarkAlpha4: #e5e5fe17;    
    --colorMauveDarkAlpha5: #eaeafe1c;    
    --colorMauveDarkAlpha6: #e1e1fe26;    
    --colorMauveDarkAlpha7: #e8e8fe30;    
    --colorMauveDarkAlpha8: #eae7ff45;    
    --colorMauveDarkAlpha9: #eeecff6b;    
    --colorMauveDarkAlpha10: #f0eeff7a;    
    --colorMauveDarkAlpha11: #f7f5ff9e;    
    --colorMauveDarkAlpha12: #fdfdffed;    
    --colorMauveLightAlpha1: #58055803;    
    --colorMauveLightAlpha2: #29052908;    
    --colorMauveLightAlpha3: #2700270d;    
    --colorMauveLightAlpha4: #10011e12;    
    --colorMauveLightAlpha5: #0d021817;    
    --colorMauveLightAlpha6: #1201121c;    
    --colorMauveLightAlpha7: #08010f24;    
    --colorMauveLightAlpha8: #05001238;    
    --colorMauveLightAlpha9: #05001270;    
    --colorMauveLightAlpha10: #0400137a;    
    --colorMauveLightAlpha11: #02001091;    
    --colorMauveLightAlpha12: #05000feb;    
    --colorSlateDark1: #151718;    
    --colorSlateDark2: #1a1d1e;    
    --colorSlateDark3: #202425;    
    --colorSlateDark4: #26292b;    
    --colorSlateDark5: #2b2f31;    
    --colorSlateDark6: #313538;    
    --colorSlateDark7: #3a3f42;    
    --colorSlateDark8: #4c5155;    
    --colorSlateDark9: #697177;    
    --colorSlateDark10: #787f85;    
    --colorSlateDark11: #9ba1a6;    
    --colorSlateDark12: #ecedee;    
    --colorSlateLight1: #fbfcfd;    
    --colorSlateLight2: #f8f9fa;    
    --colorSlateLight3: #f1f3f5;    
    --colorSlateLight4: #eceef0;    
    --colorSlateLight5: #e6e8eb;    
    --colorSlateLight6: #dfe3e6;    
    --colorSlateLight7: #d7dbdf;    
    --colorSlateLight8: #c1c8cd;    
    --colorSlateLight9: #889096;    
    --colorSlateLight10: #7e868c;    
    --colorSlateLight11: #687076;    
    --colorSlateLight12: #11181c;    
    --colorSlateDarkAlpha1: #00000000;    
    --colorSlateDarkAlpha2: #d5feff08;    
    --colorSlateDarkAlpha3: #d6fbfc0f;    
    --colorSlateDarkAlpha4: #e2f0fd14;    
    --colorSlateDarkAlpha5: #dff3fd1c;    
    --colorSlateDarkAlpha6: #dfeffe24;    
    --colorSlateDarkAlpha7: #e0f3ff2e;    
    --colorSlateDarkAlpha8: #e5f2fe42;    
    --colorSlateDarkAlpha9: #e1f1ff69;    
    --colorSlateDarkAlpha10: #e7f3ff78;    
    --colorSlateDarkAlpha11: #eff7ff9e;    
    --colorSlateDarkAlpha12: #fdfeffed;    
    --colorSlateLightAlpha1: #05448205;    
    --colorSlateLightAlpha2: #05294d08;    
    --colorSlateLightAlpha3: #0025490d;    
    --colorSlateLightAlpha4: #021c3714;    
    --colorSlateLightAlpha5: #0217351a;    
    --colorSlateLightAlpha6: #01213921;    
    --colorSlateLightAlpha7: #001a3329;    
    --colorSlateLightAlpha8: #011e323d;    
    --colorSlateLightAlpha9: #00111e78;    
    --colorSlateLightAlpha10: #00101b82;    
    --colorSlateLightAlpha11: #000e1896;    
    --colorSlateLightAlpha12: #00080ced;    
    --colorSageDark1: #141716;    
    --colorSageDark2: #191d1b;    
    --colorSageDark3: #1f2421;    
    --colorSageDark4: #252a27;    
    --colorSageDark5: #2a2f2c;    
    --colorSageDark6: #303633;    
    --colorSageDark7: #393f3c;    
    --colorSageDark8: #4a524e;    
    --colorSageDark9: #66736d;    
    --colorSageDark10: #75817b;    
    --colorSageDark11: #99a29e;    
    --colorSageDark12: #eceeed;    
    --colorSageLight1: #fbfdfc;    
    --colorSageLight2: #f8faf9;    
    --colorSageLight3: #f1f4f3;    
    --colorSageLight4: #ecefed;    
    --colorSageLight5: #e6e9e8;    
    --colorSageLight6: #dfe4e2;    
    --colorSageLight7: #d7dcda;    
    --colorSageLight8: #c2c9c6;    
    --colorSageLight9: #8a918e;    
    --colorSageLight10: #808784;    
    --colorSageLight11: #6a716e;    
    --colorSageLight12: #111c18;    
    --colorSageDarkAlpha1: #00000000;    
    --colorSageDarkAlpha2: #d4fed608;    
    --colorSageDarkAlpha3: #d5fbd70f;    
    --colorSageDarkAlpha4: #e3ffe514;    
    --colorSageDarkAlpha5: #e8feea1a;    
    --colorSageDarkAlpha6: #e5feee21;    
    --colorSageDarkAlpha7: #eafef22b;    
    --colorSageDarkAlpha8: #e8fef240;    
    --colorSageDarkAlpha9: #e3fff166;    
    --colorSageDarkAlpha10: #e8fff375;    
    --colorSageDarkAlpha11: #f2fff999;    
    --colorSageDarkAlpha12: #fdfffeed;    
    --colorSageLightAlpha1: #05824405;    
    --colorSageLightAlpha2: #054d2908;    
    --colorSageLightAlpha3: #0037250d;    
    --colorSageLightAlpha4: #022a0f14;    
    --colorSageLightAlpha5: #0221171a;    
    --colorSageLightAlpha6: #01291921;    
    --colorSageLightAlpha7: #00201329;    
    --colorSageLightAlpha8: #011e113d;    
    --colorSageLightAlpha9: #000f0975;    
    --colorSageLightAlpha10: #000e0880;    
    --colorSageLightAlpha11: #000c0794;    
    --colorSageLightAlpha12: #000c08ed;    
    --colorOliveDark1: #151715;    
    --colorOliveDark2: #1a1d19;    
    --colorOliveDark3: #20241f;    
    --colorOliveDark4: #262925;    
    --colorOliveDark5: #2b2f2a;    
    --colorOliveDark6: #313530;    
    --colorOliveDark7: #3b3f3a;    
    --colorOliveDark8: #4c514b;    
    --colorOliveDark9: #687366;    
    --colorOliveDark10: #778175;    
    --colorOliveDark11: #9aa299;    
    --colorOliveDark12: #eceeec;    
    --colorOliveLight1: #fcfdfc;    
    --colorOliveLight2: #f8faf8;    
    --colorOliveLight3: #f2f4f2;    
    --colorOliveLight4: #ecefec;    
    --colorOliveLight5: #e6e9e6;    
    --colorOliveLight6: #e0e4e0;    
    --colorOliveLight7: #d8dcd8;    
    --colorOliveLight8: #c3c8c2;    
    --colorOliveLight9: #8b918a;    
    --colorOliveLight10: #818780;    
    --colorOliveLight11: #6b716a;    
    --colorOliveLight12: #141e12;    
    --colorOliveDarkAlpha1: #00000000;    
    --colorOliveDarkAlpha2: #d5feaf08;    
    --colorOliveDarkAlpha3: #d6fbc40f;    
    --colorOliveDarkAlpha4: #effee214;    
    --colorOliveDarkAlpha5: #e9fedf1a;    
    --colorOliveDarkAlpha6: #ecfee521;    
    --colorOliveDarkAlpha7: #f1feeb2b;    
    --colorOliveDarkAlpha8: #f1ffed40;    
    --colorOliveDarkAlpha9: #e6ffe166;    
    --colorOliveDarkAlpha10: #ebffe775;    
    --colorOliveDarkAlpha11: #f3fff199;    
    --colorOliveDarkAlpha12: #fdfffded;    
    --colorOliveLightAlpha1: #05580503;    
    --colorOliveLightAlpha2: #054d0508;    
    --colorOliveLightAlpha3: #0027000d;    
    --colorOliveLightAlpha4: #022a0214;    
    --colorOliveLightAlpha5: #0221021a;    
    --colorOliveLightAlpha6: #0122011f;    
    --colorOliveLightAlpha7: #001a0026;    
    --colorOliveLightAlpha8: #051a013d;    
    --colorOliveLightAlpha9: #020f0075;    
    --colorOliveLightAlpha10: #030e0080;    
    --colorOliveLightAlpha11: #020c0094;    
    --colorOliveLightAlpha12: #020d00ed;    
    --colorSandDark1: #161615;    
    --colorSandDark2: #1c1c1a;    
    --colorSandDark3: #232320;    
    --colorSandDark4: #282826;    
    --colorSandDark5: #2e2e2b;    
    --colorSandDark6: #353431;    
    --colorSandDark7: #3e3e3a;    
    --colorSandDark8: #51504b;    
    --colorSandDark9: #717069;    
    --colorSandDark10: #7f7e77;    
    --colorSandDark11: #a1a09a;    
    --colorSandDark12: #ededec;    
    --colorSandLight1: #fdfdfc;    
    --colorSandLight2: #f9f9f8;    
    --colorSandLight3: #f3f3f2;    
    --colorSandLight4: #eeeeec;    
    --colorSandLight5: #e9e9e6;    
    --colorSandLight7: #dbdbd7;    
    --colorSandLight8: #c8c7c1;    
    --colorSandLight9: #90908c;    
    --colorSandLight10: #868682;    
    --colorSandLight12: #1b1b18;    
    --colorSandDarkAlpha1: #00000000;    
    --colorSandDarkAlpha3: #fefeda0f;    
    --colorSandDarkAlpha4: #fdfdef14;    
    --colorSandDarkAlpha6: #fdf6e621;    
    --colorSandDarkAlpha10: #fffdee73;    
    --colorSandLightAlpha1: #58580503;    
    --colorSandLightAlpha3: #1414000d;    
    --colorSandLightAlpha4: #1c1c0214;    
    --colorSandLightAlpha5: #2121021a;    
    --colorSandLightAlpha6: #1a1a011f;    
    --colorSandLightAlpha7: #1a1a0029;    
    --colorSandLightAlpha8: #1e19013d;    
    --colorSandLightAlpha9: #09090073;    
    --colorSandLightAlpha10: #0909007d;    
    --colorSandLightAlpha11: #07060094;    
    --colorSandLightAlpha12: #040400e8;    
    --colorGoldDark1: #171613;    
    --colorGoldDark2: #1c1a15;    
    --colorGoldDark3: #26231c;    
    --colorGoldDark4: #2e2a21;    
    --colorGoldDark5: #353026;    
    --colorGoldDark6: #3e382c;    
    --colorGoldDark7: #504737;    
    --colorGoldDark8: #6b5d48;    
    --colorGoldDark9: #978365;    
    --colorGoldDark10: #a59071;    
    --colorGoldDark11: #bfa888;    
    --colorGoldDark12: #f7f4e7;    
    --colorGoldLight1: #fdfdfc;    
    --colorGoldLight2: #fbf9f2;    
    --colorGoldLight3: #f5f2e9;    
    --colorGoldLight4: #eeeadd;    
    --colorGoldLight5: #e5dfd0;    
    --colorGoldLight6: #dad1bd;    
    --colorGoldLight11: #776750;    
    --colorGoldLight12: #3b352b;    
    --colorGoldDarkAlpha1: #00000000;    
    --colorGoldDarkAlpha2: #facb6e05;    
    --colorGoldDarkAlpha3: #fede9d0f;    
    --colorGoldDarkAlpha4: #fdde9f1a;    
    --colorGoldDarkAlpha5: #fedda521;    
    --colorGoldDarkAlpha6: #fedfa72b;    
    --colorGoldDarkAlpha7: #ffdda640;    
    --colorGoldDarkAlpha8: #fed9a55c;    
    --colorGoldDarkAlpha9: #ffdca78c;    
    --colorGoldDarkAlpha10: #ffdcac9c;    
    --colorGoldDarkAlpha11: #ffe0b4ba;    
    --colorGoldDarkAlpha12: #fffceef7;    
    --colorGoldLightAlpha1: #58580503;    
    --colorGoldLightAlpha2: #b08a000d;    
    --colorGoldLightAlpha3: #8c6a0217;    
    --colorGoldLightAlpha4: #80630121;    
    --colorGoldLightAlpha5: #72520130;    
    --colorGoldLightAlpha6: #704d0042;    
    --colorGoldLightAlpha7: #6e45005c;    
    --colorGoldLightAlpha8: #6d42007d;    
    --colorGoldLightAlpha10: #4a2d00a3;    
    --colorGoldLightAlpha11: #392100b0;    
    --colorBronzeDarkAlpha7: #ffbfa845;    
    --colorVioletLightAlpha6: #2a01df30;    
    --colorVioletLightAlpha11: #180091ba;    
    --colorVioletLightAlpha12: #0e003ded;    
    --colorBlueLight3: #edf6ff;    
    --colorBlueLight6: #b7d9f8;    
    --colorBlueLight9: #0091ff;    
    --colorBlueLight11: #006adc;    
    --colorBlueLight12: #00254d;    
    --colorBlueDarkAlpha6: #097cff52;    
    --colorCyanDark1: #07191d;    
    --colorCyanDark3: #072830;    
    --colorCyanDark4: #07303b;    
    --colorCyanDark5: #073844;    
    --colorCyanDark8: #00647d;    
    --colorCyanLight2: #f2fcfd;    
    --colorTealLight5: #c7ebe5;    
    --colorTealLight6: #afdfd7;    
    --colorTealLight9: #12a594;    
    --colorTealLight11: #067a6f;    
    --colorTealLight12: #10302b;    
    --colorTealDarkAlpha1: #00000000;    
    --colorTealDarkAlpha3: #00fddc12;    
    --colorTealDarkAlpha4: #00fde81a;    
    --colorTealDarkAlpha6: #09ffe630;    
    --colorGreenDarkAlpha2: #00f7ca08;    
    --colorGreenDarkAlpha3: #2afebe12;    
    --colorGreenDarkAlpha4: #33feb31a;    
    --colorGreenDarkAlpha7: #43ffad42;    
    --colorGreenDarkAlpha9: #47ffa69c;    
    --colorGreenDarkAlpha10: #54ffafa8;    
    --colorGreenDarkAlpha11: #62ffb3bd;    
    --colorGreenDarkAlpha12: #eafff0fa;    
    --colorGreenLightAlpha1: #05c04305;    
    --colorGreenLightAlpha2: #00c43b0d;    
    --colorGreenLightAlpha4: #01a63521;    
    --colorGreenLightAlpha5: #009b3633;    
    --colorGreenLightAlpha7: #008c3d6e;    
    --colorGreenLightAlpha8: #00934ca3;    
    --colorGreenLightAlpha10: #008346d6;    
    --colorGrassLightAlpha6: #018e0c47;    
    --colorGrassLightAlpha11: #006316d6;    
    --colorOrangeLightAlpha5: #ff6b013d;    
    --colorOrangeLightAlpha6: #ff6b0159;    
    --colorOrangeLightAlpha7: #ff660180;    
    --colorOrangeLightAlpha8: #f86300b0;    
    --colorOrangeLightAlpha9: #f76300f7;    
    --colorOrangeLightAlpha11: #bc4800fa;    
    --colorOrangeLightAlpha12: #380e00ed;    
    --colorBrownLight1: #fefdfc;    
    --colorBrownLight2: #fcf9f6;    
    --colorBrownLight3: #f8f1ea;    
    --colorBrownLight4: #f4e9dd;    
    --colorBrownDark1: #191513;    
    --colorBrownDark2: #221813;    
    --colorBrownDark3: #2e201a;    
    --colorBrownDark4: #36261e;    
    --colorBrownDark5: #3e2c22;    
    --colorBrownDark6: #493528;    
    --colorBrownDark7: #5c4332;    
    --colorBrownDark8: #775940;    
    --colorBrownDark9: #ad7f58;    
    --colorBrownDark10: #bd8b60;    
    --colorBrownDark11: #dba16e;    
    --colorBrownDark12: #faf0e5;    
    --colorYellowLightAlpha1: #abab0505;    
    --colorYellowLightAlpha3: #ffea012e;    
    --colorYellowLightAlpha4: #ffe60145;    
    --colorAmberDark9: #ffb224;    
    --colorAmberDark10: #ffcb47;    
    --colorAmberDark11: #f1a10d;    
    --colorAmberDark12: #fef3dd;    
    --colorAmberLight3: #fff4d5;    
    --colorAmberLight4: #ffecbc;    
    --colorAmberLight5: #ffe3a2;    
    --colorAmberLight7: #f3ba63;    
    --colorAmberLight8: #ee9d2b;    
    --colorAmberLight9: #ffb224;    
    --colorAmberDarkAlpha6: #ff950040;    
    --colorGrayDarkAlpha7: #ffffff2b;    
    --colorGrayLightAlpha1: #00000003;    
    --colorGrayLightAlpha4: #00000012;    
    --colorSandLight6: #e3e3e0;    
    --colorSandLight11: #706f6c;    
    --colorSandDarkAlpha2: #fdfdd508;    
    --colorSandDarkAlpha5: #fdfde91a;    
    --colorSandDarkAlpha7: #ffffec2b;    
    --colorSandDarkAlpha8: #fefbea40;    
    --colorSandDarkAlpha9: #fffcec63;    
    --colorSandDarkAlpha11: #fffdf499;    
    --colorSandDarkAlpha12: #fffffeeb;    
    --colorSandLightAlpha2: #29290508;    
    --colorGoldLight7: #cbbda4;    
    --colorGoldLight8: #b8a383;    
    --colorGoldLight9: #978365;    
    --colorGoldLight10: #8c795d;    
    --colorGoldLightAlpha9: #53320099;    
    --colorGoldLightAlpha12: #130c00d4;    
    --colorBronzeDarkAlpha1: #00000000;    
    --colorBronzeDarkAlpha2: #f7aa8308;    
    --colorBronzeDarkAlpha3: #ffb7a912;    
    --colorBronzeDarkAlpha4: #fdbca01c;    
    --colorBronzeDarkAlpha5: #ffbea226;    
    --colorBronzeDarkAlpha6: #febca630;    
    --colorBronzeDarkAlpha8: #ffc1a666;    
    --colorBronzeDarkAlpha9: #ffcab396;    
    --colorBronzeDarkAlpha10: #ffcab4a8;    
    --colorBronzeDarkAlpha11: #ffccb8c4;    
    --colorBronzeDarkAlpha12: #fff3edf7;    
    --colorBronzeDark1: #191514;    
    --colorBronzeDark2: #1f1917;    
    --colorBronzeDark3: #2a211f;    
    --colorBronzeDark4: #332824;    
    --colorBronzeDark5: #3b2e29;    
    --colorBronzeDark6: #453530;    
    --colorBronzeDark7: #57433c;    
    --colorBronzeDark8: #74594e;    
    --colorBronzeDark9: #a18072;    
    --colorBronzeDark10: #b08c7d;    
    --colorBronzeDark11: #cba393;    
    --colorBronzeDark12: #f9ede7;    
    --colorBronzeLight1: #fdfcfc;    
    --colorBronzeLight2: #fdf8f6;    
    --colorBronzeLight3: #f8f1ee;    
    --colorBronzeLight4: #f2e8e4;    
    --colorBronzeLight5: #eaddd7;    
    --colorBronzeLight6: #e0cec7;    
    --colorBronzeLight7: #d1b9b0;    
    --colorBronzeLight8: #bfa094;    
    --colorBronzeLight9: #a18072;    
    --colorBronzeLight10: #977669;    
    --colorBronzeLight11: #846358;    
    --colorBronzeLight12: #43302b;    
    --colorBronzeLightAlpha1: #58050503;    
    --colorBronzeLightAlpha2: #c73c050a;    
    --colorBronzeLightAlpha3: #972e0112;    
    --colorBronzeLightAlpha4: #8426001c;    
    --colorBronzeLightAlpha5: #79270029;    
    --colorBronzeLightAlpha6: #72210038;    
    --colorBronzeLightAlpha7: #6e21004f;    
    --colorBronzeLightAlpha8: #671d006b;    
    --colorBronzeLightAlpha9: #551a008c;    
    --colorBronzeLightAlpha10: #4e160096;    
    --colorBronzeLightAlpha11: #431100a6;    
    --colorBronzeLightAlpha12: #1d0600d4;    
    --colorOverlaysWhiteAlpha1: #00000000;    
    --colorOverlaysWhiteAlpha2: #ffffff03;    
    --colorOverlaysWhiteAlpha3: #ffffff08;    
    --colorOverlaysWhiteAlpha4: #ffffff0f;    
    --colorOverlaysWhiteAlpha5: #ffffff17;    
    --colorOverlaysWhiteAlpha6: #ffffff1f;    
    --colorOverlaysWhiteAlpha7: #ffffff2e;    
    --colorOverlaysWhiteAlpha8: #ffffff40;    
    --colorOverlaysWhiteAlpha9: #ffffff63;    
    --colorOverlaysWhiteAlpha10: #ffffff73;    
    --colorOverlaysWhiteAlpha11: #ffffff96;    
    --colorOverlaysWhiteAlpha12: #ffffffeb;    
    --colorOverlaysBlackAlpha1: #00000003;    
    --colorOverlaysBlackAlpha2: #00000008;    
    --colorOverlaysBlackAlpha3: #0000000d;    
    --colorOverlaysBlackAlpha4: #00000012;    
    --colorOverlaysBlackAlpha5: #00000017;    
    --colorOverlaysBlackAlpha6: #0000001c;    
    --colorOverlaysBlackAlpha7: #00000024;    
    --colorOverlaysBlackAlpha8: #00000038;    
    --colorOverlaysBlackAlpha9: #00000070;    
    --colorOverlaysBlackAlpha10: #0000007a;    
    --colorOverlaysBlackAlpha11: #0000008f;    
    --colorOverlaysBlackAlpha12: #000000e8;    
    --colorThemeAccentDefault: #df1642;    
    --colorThemeAccentMuted: #e95c7b;    
    --colorThemeAccentSubtle: #eceefe;    
    --colorThemeAccentEmphasis: #df1642;    
    --colorThemeAccentDisabled: #e0e0e0;    
    --colorThemeFgDefault: #171717;    
    --colorThemeFgMuted: #616161;    
    --colorThemeFgSubtle: #9e9e9e;    
    --colorThemeFgOnAccent: #ffffff;    
    --colorThemeFgOnDisabled: #757575;    
    --colorThemeFgDisabled: #bdbdbd;    
    --colorThemeFgOnDark: #ffffff;    
    --colorThemeFgOpacity80: #fcfcfccc;    
    --colorThemeFgOpacity70: #fcfcfcb2;    
    --colorThemeFgOpacity60: #fcfcfc99;    
    --colorThemeFgOpacity50: #fcfcfc80;    
    --colorThemeFgOpacity40: #fcfcfc66;    
    --colorThemeFgOpacity20: #fcfcfc33;    
    --colorThemeFgOpacity5: #fcfcfc0d;    
    --colorThemeFgOpacity1: #fcfcfc03;    
    --colorThemeBgSurface: #fcfcfc;    
    --colorThemeBgMuted: #e0e0e0;    
    --colorThemeBgSubtle: #eeeeee;    
    --colorThemeBgCanvas: #f5f5f5;    
    --colorThemeBorderDefault: #f5f5f5;    
    --colorThemeOverlayBg: #171717;    
    --colorThemeWarningDefault: #b38327;    
    --colorThemeWarningSubtle: #fff8eb;    
    --colorThemeWarningMuted: #ffe4af;    
    --colorThemeWarningEmphasis: #ffbb38;    
    --colorThemeWarningOnWarning: #171717;    
    --colorThemeInfoDefault: #3142c4;    
    --colorThemeInfoSubtle: #d8ddfd;    
    --colorThemeInfoMuted: #8b98f9;    
    --colorThemeInfoEmphasis: #3d53f5;    
    --colorThemeInfoOnInfo: #ffffff;    
    --colorThemeErrorDefault: #9c0f2e;    
    --colorThemeErrorSubtle: #fce8ec;    
    --colorThemeErrorMuted: #e95c7b;    
    --colorThemeErrorEmphasis: #df1642;    
    --colorThemeErrorOnError: #ffffff;    
    --colorThemeSuccessDefault: #11763d;    
    --colorThemeSuccessSubtle: #e8f6ee;    
    --colorThemeSuccessMuted: #5dc389;    
    --colorThemeSuccessEmphasis: #18a957;    
    --colorThemeSuccessOnSuccess: #ffffff;    
    --colorThemeInputBackground: #ffffff;    
    --colorThemeInputText: #424242;    
    --colorThemeInputPlaceholder: #9e9e9e;    
    --colorThemeInputBorderDisabled: #eeeeee;    
    --colorThemeInputBorderDefault: #e0e0e0;    
    --colorThemeInputFgDisabled: #e0e0e0;    
    --colorColorsGrey400: #bdbdbd;    
    --colorColorsGrey600: #757575;    
    --colorColorsBlue200: #b1bafb;    
    --colorColorsBlue300: #8b98f9;    
    --colorColorsBlue400: #6475f7;    
    --colorColorsBlue600: #3142c4;    
    --colorColorsBlue700: #253293;    
    --colorColorsBlue800: #182162;    
}