
:root {
    --gradientCocaColaGradient1: linear-gradient(
          90deg,
          #f40009 0%,   
          #f42c06 15%,   
          #f79900 47%,   
          #dea123 57%,   
          #a2b57b 80%,   
          #6ac9ce 100%  
        )
        ;    
    --gradientCocaColaGradient2: linear-gradient(
          90deg,
          #f40009 0%,   
          #f42c06 15%,   
          #f79900 47%,   
          #dea123 57%,   
          #a2b57b 80%,   
          #6ac9ce 100%  
        )
        ;    
    --gradientCocaColaGradient3: linear-gradient(
          90deg,
          #ed1c24 0%,   
          #ec1f24 10%,   
          #eb2b27 20%,   
          #e93e2c 30%,   
          #e75a32 40%,   
          #e47c3a 49%,   
          #e4803b 50%,   
          #be9668 67%,   
          #6ac9ce 100%  
        )
        ;    
    --gradientGradientWarmFlameLeftToRight: linear-gradient(
          180deg,
          #ff9a9e 0%,   
          #fad0c4 100%  
        )
        ;    
    --gradientGradientWarmFlameTopToBottom: linear-gradient(
          270deg,
          #ff9a9e 0%,   
          #fad0c4 100%  
        )
        ;    
    --gradientGradientNightFadeLeftToRight: linear-gradient(
          180deg,
          #a18cd1 0%,   
          #fbc2eb 100%  
        )
        ;    
    --gradientGradientNightFadeTopToBottom: linear-gradient(
          270deg,
          #a18cd1 0%,   
          #fbc2eb 100%  
        )
        ;    
    --gradientGradientJuicyPeachLeftToRight: linear-gradient(
          0deg,
          #ffecd2 0%,   
          #fcb69f 100%  
        )
        ;    
    --gradientGradientJuicyPeachTopToBottom: linear-gradient(
          90deg,
          #ffecd2 0%,   
          #fcb69f 100%  
        )
        ;    
    --gradientGradientSunnyMorningLeftToRight: linear-gradient(
          0deg,
          #f7ce68 0%,   
          #fbab7e 100%  
        )
        ;    
    --gradientGradientSunnyMorningTopToBottom: linear-gradient(
          90deg,
          #f7ce68 0%,   
          #fbab7e 100%  
        )
        ;    
    --gradientGradientWinterNevaLeftToRight: linear-gradient(
          180deg,
          #a1c4fd 0%,   
          #c2e9fb 100%  
        )
        ;    
    --gradientGradientWinterNevaTopToBottom: linear-gradient(
          270deg,
          #a1c4fd 0%,   
          #c2e9fb 100%  
        )
        ;    
    --gradientGradientLoupeFiestaLeftToRight: linear-gradient(
          180deg,
          #105efb 0%,   
          #199afb 100%  
        )
        ;    
    --gradientGradientLoupeFiestaTopToBottom: linear-gradient(
          270deg,
          #105efb 0%,   
          #199afb 100%  
        )
        ;    
    --gradientGradientSoftGrassLeftToRight: linear-gradient(
          0deg,
          #deecdd 0%,   
          #c1dfc4 100%  
        )
        ;    
    --gradientGradientSoftGrassTopToBottom: linear-gradient(
          90deg,
          #deecdd 0%,   
          #c1dfc4 100%  
        )
        ;    
    --gradientGradientRipeMalinkaLeftToRight: linear-gradient(
          0deg,
          #f093fb 0%,   
          #f5576c 100%  
        )
        ;    
    --gradientGradientRipeMalinkaTopToBottom: linear-gradient(
          90deg,
          #f093fb 0%,   
          #f5576c 100%  
        )
        ;    
    --gradientGradientNewYorkLeftToRight: linear-gradient(
          180deg,
          #ace0f9 0%,   
          #fff1eb 100%  
        )
        ;    
    --gradientGradientNewYorkTopToBottom: linear-gradient(
          270deg,
          #ace0f9 0%,   
          #fff1eb 100%  
        )
        ;    
    --gradientGradientPlumPlateLeftToRight: linear-gradient(
          0deg,
          #667eea 0%,   
          #764ba2 100%  
        )
        ;    
    --gradientGradientPlumPlateTopToBottom: linear-gradient(
          90deg,
          #667eea 0%,   
          #764ba2 100%  
        )
        ;    
    --gradientGradientLightMistLeftToRight: linear-gradient(
          180deg,
          #e8e8e8 0%,   
          #ffffff 100%  
        )
        ;    
    --gradientGradientLightMistTopToBottom: linear-gradient(
          270deg,
          #e8e8e8 0%,   
          #ffffff 100%  
        )
        ;    
    --gradientGradientMiamiShoreLeftToRight: linear-gradient(
          180deg,
          #5d45f9 0%,   
          #267deb 100%  
        )
        ;    
    --gradientGradientMiamiShoreTopToBottom: linear-gradient(
          270deg,
          #5d45f9 0%,   
          #267deb 100%  
        )
        ;    
    --gradientGradientVanusaLeftToRight: linear-gradient(
          180deg,
          #89216b 0%,   
          #da4453 100%  
        )
        ;    
    --gradientGradientVanusaTopToBottom: linear-gradient(
          270deg,
          #89216b 0%,   
          #da4453 100%  
        )
        ;    
    --gradientGradientOceanViewLeftToRight: linear-gradient(
          180deg,
          #3f2b96 0%,   
          #a8c0ff 100%  
        )
        ;    
    --gradientGradientOceanViewTopToBottom: linear-gradient(
          270deg,
          #3f2b96 0%,   
          #a8c0ff 100%  
        )
        ;    
    --gradientGradientSandyBleueLeftToRight: linear-gradient(
          180deg,
          #ffe8b7 0%,   
          #b8d8ff 100%  
        )
        ;    
    --gradientGradientSandyBleueTopToBottom: linear-gradient(
          270deg,
          #ffe8b7 0%,   
          #b8d8ff 100%  
        )
        ;    
    --gradientGradientQuepalLeftToRight: linear-gradient(
          180deg,
          #38ef7d 0%,   
          #11998e 100%  
        )
        ;    
    --gradientGradientQuepalTopToBottom: linear-gradient(
          270deg,
          #38ef7d 0%,   
          #11998e 100%  
        )
        ;    
    --gradientGradientSublimeLightLeftToRight: linear-gradient(
          180deg,
          #6a82fb 0%,   
          #fc5c7d 100%  
        )
        ;    
    --gradientGradientSublimeLightTopToBottom: linear-gradient(
          270deg,
          #6a82fb 0%,   
          #fc5c7d 100%  
        )
        ;    
    --gradientGradientLawrenciumLeftToRight: linear-gradient(
          180deg,
          #24243e 0%,   
          #0f0c29 100%  
        )
        ;    
    --gradientGradientLawrenciumTopToBottom: linear-gradient(
          270deg,
          #24243e 0%,   
          #0f0c29 100%  
        )
        ;    
    --gradientGradientHappyPeopleLeftToRight: linear-gradient(
          180deg,
          #96c93d 0%,   
          #00b09b 100%  
        )
        ;    
    --gradientGradientHappyPeopleTopToBottom: linear-gradient(
          270deg,
          #96c93d 0%,   
          #00b09b 100%  
        )
        ;    
    --gradientGradientDelicateLeftToRight: linear-gradient(
          180deg,
          #d3cce3 0%,   
          #e9e4f0 100%  
        )
        ;    
    --gradientGradientDelicateTopToBottom: linear-gradient(
          270deg,
          #d3cce3 0%,   
          #e9e4f0 100%  
        )
        ;    
    --gradientGradientOrangeFunLeftToRight: linear-gradient(
          180deg,
          #fc4a1a 0%,   
          #f7b733 100%  
        )
        ;    
    --gradientGradientOrangeFunTopToBottom: linear-gradient(
          270deg,
          #fc4a1a 0%,   
          #f7b733 100%  
        )
        ;    
    --gradientGradientPurpinkLeftToRight: linear-gradient(
          180deg,
          #7f00ff 0%,   
          #e100ff 100%  
        )
        ;    
    --gradientGradientPurpinkTopToBottom: linear-gradient(
          270deg,
          #7f00ff 0%,   
          #e100ff 100%  
        )
        ;    
    --gradientGradientDullDaysLeftToRight: linear-gradient(
          180deg,
          #c9d6ff 0%,   
          #e2e2e2 100%  
        )
        ;    
    --gradientGradientDullDaysTopToBottom: linear-gradient(
          270deg,
          #c9d6ff 0%,   
          #e2e2e2 100%  
        )
        ;    
    --gradientGradientScooterLeftToRight: linear-gradient(
          180deg,
          #5b86e5 0%,   
          #36d1dc 100%  
        )
        ;    
    --gradientGradientScooterTopToBottom: linear-gradient(
          270deg,
          #5b86e5 0%,   
          #36d1dc 100%  
        )
        ;    
    --gradientGradientOverlayDarkBottomShade: linear-gradient(
          90deg,
          #30303000 0%,   
          #303030d9 100%  
        )
        ;    
    --gradientGradientOverlayDarkTopShade: linear-gradient(
          180deg,
          #303030d9 0%,   
          #30303000 100%  
        )
        ;    
    --gradientGradientOverlayLightBottomShade: linear-gradient(
          90deg,
          #ffffff00 0%,   
          #ffffffd9 100%  
        )
        ;    
    --gradientGradientOverlayLightTopShade: linear-gradient(
          180deg,
          #ffffffd9 0%,   
          #ffffff00 100%  
        )
        ;    
}