@font-face {
    font-family: 'TCCC-UnityText';
    src: url('files/TCCC-UnityText-Bold.woff2') format('woff2'),
        url('files/TCCC-UnityText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    src: url('files/TCCC-UnityHeadline-Bold.woff2') format('woff2'),
        url('files/TCCC-UnityHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityText';
    src: url('files/TCCC-UnityText-Bold.woff2') format('woff2'),
        url('files/TCCC-UnityText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    src: url('files/TCCC-UnityHeadline-Regular.woff2') format('woff2'),
        url('files/TCCC-UnityHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    src: url('files/TCCC-UnityHeadline-Bold.woff2') format('woff2'),
        url('files/TCCC-UnityHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityHeadline';
    src: url('files/TCCC-UnityHeadline-Regular.woff2') format('woff2'),
        url('files/TCCC-UnityHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityText';
    src: url('files/TCCC-UnityText-Regular.woff2') format('woff2'),
        url('files/TCCC-UnityText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TCCC-UnityText';
    src: url('files/TCCC-UnityText-Regular.woff2') format('woff2'),
        url('files/TCCC-UnityText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

