.typographyTypographyColossusBold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyColossusRegular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyUberBold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyUberRegular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 102px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeroBold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeroRegular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayBold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayRegular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 71px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline1Bold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline1Regular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline2Bold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline2Regular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline3Bold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline3Regular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 110%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline4Bold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline4Regular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline5Bold 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadline5Regular 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLeadBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyLeadRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographySmallBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographySmallRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyCaptionBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyCaptionRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyXsmallBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyXsmallRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTinyBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTinyRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonXlargeBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonXlargeRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonLargeBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonLargeRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonNormalBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyButtonNormalRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyInputLargeBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyInputLargeRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyInputNormalBold 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyInputNormalRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationHeadlinesXl 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationHeadlinesBoldLarge 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationHeadlinesBoldSmall 
 {
  
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationHeadlinesRegularLarge 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationHeadlinesRegularSmall 
 {
  
  font-family: "TCCC-UnityHeadline";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationBodyXl 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationBodyBoldLarge 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationBodyBoldSmall 
 {
  
  font-family: "TCCC-UnityText";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationBodyRegularLarge 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDocumentationBodyRegularSmall 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

